/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-jun-2017, 10:53:32
    Author     : robert
*/

body{
    font-family:openSans,Verdana, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}
a{
    text-decoration: none;
    color: #4358e0;
}
*{

    box-sizing: border-box;

}


.clearfix:after{
    content:' ';
    clear: both;
    display: block;
}
#container{
    width:980px; 
    margin: 0 auto 50px auto;
    
}

#header{
    text-align:center;
    margin-bottom: 15px;

}

#header h1{
    font-size: 48px;
    color: #222;
}

#forum-container{
    
}
#category-container{
    margin-top: 15px;
    border:1px solid #ddd;
    border-radius: 4px;
    
}
#forum-container .forum-row{
    padding: 10px;
    
}
#forum-container .forum-row.head{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #497DAF;
    color:white;
    border-radius: 4px;
}

.forum-column{
 
}
.forum-row{
    border-bottom: 1px solid #ddd; 
}
.forum-row:last-child{
    border-bottom:0;
}   
    
.forum-column .title{
    font-size: 16px;
    font-weight: bold;
}

.forum-column .description{
    color:#555;
}

.forum-buttons{
    padding:10px 0;
    text-align: right;
    
}

.btn{
    display: block;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 4px;
    border:0px;
    float: right;
}

.btn.blue{
    background-color: #4358e0;
    color:#FFF
}

.btn.small{

    padding: 5px 10px;

}


#forum-profile{
    float: right;
    padding: 10px;
    border:1px solid #555
    
}
textarea,input{
    border:1px solid rgb(231, 228, 228);


}
#form-container{
    margin-top: 15px;
    border:1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
}
#form-container:after{
    display: block;
    overflow: hidden;
    clear: both;
    content: ' ';
}

.crear textarea,.crear input[type="text"]{

    width: 100%;
}

.comments-container{
    margin-top: 15px;
    border:2px solid #ddd;
    border-radius: 4px;
    overflow: auto;
    
}



.descripcio{
	display:none;
	border:1px solid #ccc;
}

.fila {
	border-bottom:1px solid #ccc;
	padding:10px;
}

.fila:after{
	content:' ';
	display:block;
	clear:both;
}

.fila:last-child{
	border-bottom:0px;
}
.text, .camp {
	float:left;
}
.text{
	width:20%;
}
.camp{
	width:80%;
}



.commentsTitulo{
   
    font-size: 30px;
}

.commentsComentari{
   
    font-size: 10px;
}

.commentsAvatar{
    text-align: center;
    
}

.commentsAvatar img{

    width: 64px;
    height: 64px;
    border-radius: 223px;


}

.commentsNick{

    float: left;
    width: 25%;
    background: #eeeeee;
    padding: 10px;
}

.comment{
    
    float: left;
    width: 75%;
    padding: 10px;
    
}

.clearfix:after{

    display: block;
    overflow: hidden;
    clear: both;
    content: ' ';

}

.contenido{

    padding-top: 5px;

}
.contenido textarea{

    width: 100%;
    height: 150px;

}
.mensage{

    padding: 8px 0;

}

.grid{

    border: 1px solid #ccc;
    width: 100%;



}
.grid thead th{

    background-color: #eeeeee;
    border-bottom: 1px solid #ccc

}

.grid tbody td{

    background-color: #eeeeee;
    border-bottom: 1px solid #ccc

}